<nav class="navbar fixed-bottom bg-light">
    <div class="container-fluid">
      <h9 id="copyright" class="text-center">&copy; Copyright, Haibo Dong, 301288956, COMP229004 Web App Dev, 2023M. All Rights Reserved.</h9>
    </div>
  </nav>