   
    <main>
        <div class="container-center-text">
         <h2><b>About Me</b></h2>
         <p></p>
         <div>
         <img src="./Assets/images/photoOfHBD.jpg" height="500"></div>
         <br>
         <h3><b>Mission Statement</b></h3>
         <h6>Plus Ultra!</h6></div>
       </div>
     </main>
 