   
    <main>
        <div class="container-center-text">
         <h2><b>About Me</b></h2>
         <h3 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Haibo Dong</h3>
         <div>
         <img src="./Assets/images/photoOfHBD.jpg" height="500"></div>
         <br>
         <h3>Who am I?</h3>
         <p>Master of Science in Economics with 6 years of finance experience. Enthusiastic about software engineering and pursuing a 
            Software Engineering Technician program at Centennial College from September 2022. Quick learner and adept at applying new knowledge and skills</p>
         <h3><b>My Resume</b></h3>
         <a href src="./Assets/pdf/resume1.pdf" download>download my resume</a>         
       </div>
     </main>
 