<div class="container">    
    <main>
         <h3>Get in touch!</h3><br>
         firstName, lastName, contactNumber, email, message         
       <form action="/" method="post">
        <div id="no-1">
          <label for="firstName"><b>*First Name: </b></label>
          <input class="fillinblank" id="firstName" name="firstName"  tabindex="1" type="text">
        </div>
        <div id="no-2">
          <label for="lastName"><b>*Last Name: </b></label>
          <input class="fillinblank" id="lastName" name="lastName"  tabindex="2" type="text">
        </div>
        <div id="no-3">
          <label for="contactNumber"><b>Phone number: </b></label>
          <input class="fillinblank" id="contactNumber" name="contactNumber"  tabindex="3" type="tel" maxlength="12">
        </div>
        <div id="no-4">
          <label for="email"><b>*Email:</b></label>
          <input class="fillinblank" type="email" id="myEmail" name="myEmail" tabindex="4">
        </div>        
        <div id="no-5">
          <label for="message"><b>Comments:</b></label><br>
            <textarea class="fillinblank" id="message" name="message" rows=2 cols=30></textarea><br>  
        </div>
        <div id="submitAndReset">
          <input id="submit" name="submit" tabindex="47" type="submit" value="SUBMIT" >
          <b></b>
          <input id="reset" name="reset" tabindex="48" type="reset" value="CLEAR FORM">         
        </div>
       </form>
       
    </main>
</div>