   
    <main>
       <div class="">
        <h3>Welcome to my personal portfolio website!</h3>
        <p>Thank you for visiting my website! I am looking forward to collaborating with you.</p>
        <a href="/about"><p>About me</p></a>
        <br>
        <h3>Mission Statement</h3>
        <h6>Plus Ultra!</h6></div>
      </div>
    </main>
