<main>
    <div class="container-center-text">
     <p>I am dedicated to providing you with the following services:</p><br>
     <div>
     <img src="./Assets/images/general.jpg" width="200">
     </div>
     <br>
     <h3>GENERAL PROGRAMMING</h3>
     <p>Adept in language acquisition, capable of quickly adapting to the company's business needs for development.</p><br>
     <div>
        <img src="./Assets/images/web.webp" width="200">
     </div>
     <br>
     <h3>WEB APP DEVELOPMENT</h3>
     <p>Proficient in JavaScript and React, providing web development services.</p> <br>
     <div>
        <img src="./Assets/images/app.webp" width="200">
     </div>
     <br>
     <h3>BACK-END DEVELOPMENT WITH JAVA AND C#</h3>
     <p>Experienced in building robust back-end systems using Java and C#. Also strong understanding of databases and experience working with SQL or NoSQL databases</p>      
   </div>

   <div class="grid-container">
    <div class="grid-item">Div 1</div>
    <div class="grid-item">Div 2</div>
    <div class="grid-item">Div 3</div>
  </div>
</main>