<main>
 <div class="container-center-text">
   <div class="grid-container">
    <div class="grid-item">
        <div>
            <img src="./Assets/images/project1.png" height="350">
            </div>
            <br>
            <h3>TO DO LIST</h3>
            <p>Role: The only programmer</p>
            <p>Outcome: A webpage that can generate, mark and delete missions.</p>
            <br>
    </div>
    <div class="grid-item">
        <div>
            <img src="./Assets/images/project2.png" height="350">
            </div>
            <br>
            <h3>WORD GUESSING</h3>
            <p>Role: The only programmer</p>
            <p>Outcome: A small game page that allows word guessing.</p><br>
    </div>
    <div class="grid-item">
        <div>
            <img src="./Assets/images/project3.png" height="350">
            </div>
            <br>
            <h3>CAT GALLERY</h3>
            <p>Role: The only programmer</p>
            <p>Outcome: A webpage that can generate, mark and delete missions.</p><br>
    </div>
  </div>
 </div>
</main>