<main>
 <div class="container-center-text">
   <div class="grid-container">
    <div class="grid-item">
        <div>
            <img src="./Assets/images/project1.png" height="400">
            </div>
            <br>
            <h3>GENERAL PROGRAMMING</h3>
            <p>Adept in language acquisition, capable of quickly adapting to the company's business needs for development.</p><br>
    </div>
    <div class="grid-item">
        <div>
            <img src="./Assets/images/project2.png" height="400">
            </div>
            <br>
            <h3>GENERAL PROGRAMMING</h3>
            <p>Adept in language acquisition, capable of quickly adapting to the company's business needs for development.</p><br>
    </div>
    <div class="grid-item">
        <div>
            <img src="./Assets/images/project3.png" height="400">
            </div>
            <br>
            <h3>GENERAL PROGRAMMING</h3>
            <p>Adept in language acquisition, capable of quickly adapting to the company's business needs for development.</p><br>
    </div>
  </div>
 </div>
</main>