<main>
 <div class="container-center-text">
   <div class="grid-container">
    <div class="grid-item">
        <div>
            <img src="./Assets/images/general.jpg" width="200">
            </div>
            <br>
            <h3>GENERAL PROGRAMMING</h3>
            <p>Adept in language acquisition, capable of quickly adapting to the company's business needs for development.</p><br>
    </div>
    <div class="grid-item">
        <div>
            <img src="./Assets/images/general.jpg" width="200">
            </div>
            <br>
            <h3>GENERAL PROGRAMMING</h3>
            <p>Adept in language acquisition, capable of quickly adapting to the company's business needs for development.</p><br>
    </div>
    <div class="grid-item">
        <div>
            <img src="./Assets/images/general.jpg" width="200">
            </div>
            <br>
            <h3>GENERAL PROGRAMMING</h3>
            <p>Adept in language acquisition, capable of quickly adapting to the company's business needs for development.</p><br>
    </div>
  </div>
 </div>
</main>