<main>
    <div class="container-center-text">
     <p>I am dedicated to providing you with the following services:</p><br>
     <div>
     <img src="./Assets/images/general.jpg" width="200">
     </div>
     <br>
     <h3>GENERAL PROGRAMMING</h3>
     <p>Adept in language acquisition, capable of quickly adapting to the company's business needs for development.</p>
     <div>
        <img src="./Assets/images/web.webp" width="200">
     </div>
     <br>
     <h3>WEB APP DEVELOPMENT</h3>
     <p>Proficient in JavaScript and React, providing web development services.</p> 
     <div>
        <img src="./Assets/images/general.jpg" width="200">
     </div>
     <br>
     <h3>GENERAL PROGRAMMING</h3>
     <p>Adept in language acquisition, capable of quickly adapting to the company's business needs for development.</p>        
   </div>
</main>